body{
    background-color: gray;
    padding: 0;
    margin: 0;
}
header{
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;

    background-color: #222222;
    text-align: left;
}

.fileName{
    color:""
}
.tofu{
    padding:0;
    margin:0;
}
select{
    width: 100px;
    height: 30px;

    font-size: large;
}

.footerSpan{
    font-size: small;
    color: rgb(0, 0, 0);
}


.bigBtn:hover{
    background-color:white;
}
.bigBtn{
    width: 175px;
    height: 175px;
    margin: 10px;

    background-color:white;

    cursor:pointer;

    text-align: center;
    padding: 0;
    border: 0;
    align-items: center;
    justify-content: center;
    display: flex;

    z-index: 100;
}
.fitInBigBtn{
    width: 165px;
    height: 165px;

    user-select: none;
    -webkit-user-drag: none;
}
.textInBigBtn{
    color: #000;
    text-shadow:1px 0px 2px #fff, 0px 1px 2px #fff, -1px 0px 2px #fff, 0px -1px 2px #fff;color:#000000;
    font-size: 20px;

    position: absolute;
    user-select: none;
    padding-top: 4rem;
}

.filePathDiv{
    text-align: left;
    width: 100%;
    height: 20px;

    display: flex;

    user-select: none;
}
.fileName{
    color:coral;
    font-size: 20px;
    font-weight: 600;

    cursor: pointer;
}
.fileSlash{
    color:lightgreen;
    font-size: 20px;
    font-weight: 600;
}
.tofu{
    padding:1px;
    margin:1px;
}
